@font-face {
    font-family: "Minecrafter";
    src: url("../font/Minecrafter.Reg.ttf");
}

body {
    background-image:url(../img/background.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: aliceblue;
    font: 600;
    font-family: "Minecrafter";
    font-size: -webkit-xxx-large;
}

h2 {
    color: aliceblue;
    font-size: x-large;
    font-family: Helvetica, Arial, sans-serif;
}
.heading-container{
   padding-top: 13%;
}