.colm-left{
    border: 2px;
    border-color: #ffff;
    border-style: solid;
    padding: 2%;
    margin: 2.5%;
    height: 260px;
}

.colm-middle{
    border: 2px;
    border-color: #ffff;
    border-style: solid;
    padding: 2%;
    margin: 2.5%;
    height: 260px;
}

.colm-right{
    border: 2px;
    border-color: #ffff;
    border-style: solid;
    padding: 2%;
    margin: 2.5%;
    height: 260px;
}

.resources-grid{
    height: 650px;
    width: 900px;
    position: absolute;
    overflow-y: scroll;
    margin: 3%;
    padding: 3%;
}

.inventory-nav{
    font-family: "Minecrafter";
    margin: 2%;
}

.resources-heading{
    font-family: "Minecrafter";
    font-size: 43px;
}

.resource-img{
    height: 120px;
}

.resource-amount{
    font-family: "Minecrafter";
    padding-top: 10%;
    font-size: 30px;
}