body {
    overflow: hidden; /* Hide scrollbars */
  }

.inventory-nav{
    font-family: "Minecrafter";
}

.resources-heading{
    font-family: "Minecrafter";
    font-size: 43px;
}

.resource-img{
    height: 120px;
}

.resource-amount{
    font-family: "Minecrafter";
    padding-top: 10%;
    font-size: 30px;
}

input{
    height: 50px;
    width: 90px;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

    opacity: 1;

}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#TheList{
    list-style-type: none;
    overflow:scroll; 
    overflow-x: hidden;
    height:600px;
}

.card-img-top {
    height: 60%;
    width: auto;
}

form{    
    float: left;
    margin-left: -27%;
    margin-top: 10%;
    width: inherit;
}